* {
  margin: 0px;
}

body {
  background-color: rgb(227, 219, 219);
}

.header-nav nav {
  background-color: black;
  height: 80px;
  color: white;
  display: flex;
  align-items: center;
  padding-right: 25px;
  padding-left: 25px;
}

.header-nav nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-basis: 100%;
}

.header-nav a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
}

.header-nav a:hover {
  color: rgb(20, 134, 195);
}

#text-username {
  color: forestgreen;
}

.content {
  width: 70%;
  min-height: 350px;
  background-color: aliceblue;
  border-radius: 15px;
  border: 1px solid gray;
  margin: 15px auto;
  padding: 25px;
}

.login {
  display: block;
  margin: 15px;
  padding: 15px;
}

.login input[type="text"],
.login input[type="submit"] {
  display: block;
  margin: 10px auto;
  /* Ajusta los márgenes para centrar */
  padding: 10px;
  width: 50%;
  /* Ajusta el ancho al 50% del contenedor */
  box-sizing: border-box;
}

.login input[type="submit"] {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login input[type="submit"]:hover {
  background-color: lightblue;
}

.logo {
  display: flex;
  align-items: center;
  justify-items: start;
}

.logo-img {
  height: 80px;
  /* Ajusta el tamaño de la imagen */
  margin-right: 10px;
  /* Espacio entre la imagen y el texto */
}